/* Header */
.homepage-header {
  color: var(--light-text-color);
}

.header-text-title-container {
  display: inline-block;
}

/* main-header */

.main-header {
  background-color: var(--main-header);
  height: 60px;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.main-header > div {
  margin: 0 0.5rem;
  padding: 1rem;
  border: 1px solid transparent;
}

.main-header > div:hover {
  border: 1px solid var(--light-text-color);
}

.main-header h4 {
  font-weight: 700;
}

.main-header h4,
.main-header p {
  line-height: 14px;
}

.header-text {
  font-size: 1.2rem;
}

.deliver-to-container .header-text {
  color: var(--gray-text-color);
}

.header-search-container {
  flex-grow: 1;
  display: flex;
}
.main-header .header-search-container:hover {
  border: 1px solid transparent;
}

.header-departments {
  height: 4rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: var(--light-gray-color);
  border: none;
}

.search-input-container {
  flex-grow: 1;
}

.search-input {
  width: 100%;
  height: 4rem;
  border: none;
  font-size: 1.5rem;
}

.search-input::placeholder {
  color: black;
  padding-left: 1rem;
}

.search-icon-container {
  background-color: var(--light-orange);
  width: 4.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
}

.search-icon-container:hover {
  background-color: var(--dark-orange);
}

.search-icon-container .search-icon {
  border: none;
}

.main-header .languages-container {
  padding: 1.6rem 1rem 0.4rem 1rem;
}

.cart-container .header-title {
  display: inline-block;
  vertical-align: bottom;
}

/*  main-nav */

.main-nav {
  background-color: var(--dark-blue);
  height: 40px;
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.main-nav a:link {
  color: var(--light-text-color);
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: 0 0.5rem;
}

.main-nav a:hover {
  border: 1px solid var(--light-text-color);
}

/* unvisited link */
.main-nav a:link {
  font-size: 1.4rem;
  display: inline-block;
}

/* visited link */
.main-nav a:visited {
  color: var(--light-text-color);
}
