/* Fonts */
@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(../assets/fonts/Dv1WQ5DdeMS5qP7.woff2) format("woff2");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 400;
  src: url(../assets/fonts/pDxWAF1pBB0dzGB.woff2) format("woff2");
}

@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(../assets/fonts/WOnTLzkiaEccV7F.woff2) format("woff2");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(../assets/fonts/KFPk-9IF4FqAqY-.woff2) format("woff2");
}
/* Colors */

:root {
  --main-header: #0f1111;
  --dark-blue: #232f3e;
  --light-text-color: #ffffff;
  --gray-text-color: #cccccc;
  --orange: #f08804;
  --yellow: #ffd814;
  --light-orange: #febd69;
  --dark-orange: #f3a847;
  --title-orange: #cc6600;
  --gray-link: #565959;
  --gray: #565959;
  --dark-red: #b12704;
  --light-gray-color: #f3f3f3;
  --green: #007185;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
}

select {
  font-family: "Amazon Ember", Arial, sans-serif;
}

hr {
  border: none;
  height: 0.1rem;
  background-color: var(--light-gray-color);
  /* margin: 1vh 0; */
}

.hr-dotted {
  border: none;
  height: 0.1rem;
  border-top: 1 px solid #e7e7e7;
  margin-bottom: 1.4rem;
}

/* sprite-icons */
.logo {
  background-image: url("../assets/img/nav-sprite.png");
  height: 29px;
  width: 96px;
  background-position: -10px -51px;
}

.location-icon {
  background-position: -70px -377px;
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/nav-sprite.png");
  display: inline-block;
}

.search-icon {
  background: url("../assets/img/nav-sprite.png") no-repeat -5px -285px;
  width: 30px;
  height: 30px;
}

.usa-flag-icon {
  height: 18px;
  width: 24px;
  background: url("../assets/img/flags-sprite.png") no-repeat 0 -130px;
  display: inline-block;
}

.arrow-down-icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0.2rem 0.1rem;
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-top: 0.4rem solid var(--gray-text-color);
}

.arrow-open-down-icon {
  background: url("../assets/img/icons-sprite.png") no-repeat -366px -88px;
  width: 7px;
  height: 4px;
  display: inline-block;
  vertical-align: 20%;
  margin: 0 1rem;
}

.right-arrow-icon {
  background: url("../assets/img/icons-sprite.png") no-repeat -7px -36px;
  width: 8px;
  height: 13px;
  display: inline-block;
}

.open-left-arrow-icon {
  background: url("../assets/img/icons-sprite.png") no-repeat -124px -8px;
  width: 9px;
  height: 13px;
  display: inline-block;
}
.open-right-arrow-icon {
  background: url("../assets/img/icons-sprite.png") no-repeat -107px -8px;
  width: 8px;
  height: 13px;
  display: inline-block;
}

.cart-icon {
  background-image: url("../assets/img/nav-sprite.png");
  background-position: -12px -333px;
  height: 35px;
  width: 40px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--orange);
  vertical-align: middle;
  display: inline-block;
}

.hamburger-icon {
  background: url("../assets/img/nav-sprite.png") no-repeat -172px -255px;
  display: inline-block;
  width: 18px;
  height: 14px;
}

.down-triangle-icon {
  border-style: solid;
  border-width: 0.4rem;
  border-color: transparent;
  border-top: 0.4rem solid #606060;
}

.envelope-icon {
  background: url("../assets/img/social-sprite.png") no-repeat -256px -221px;
  width: 19px;
  height: 15px;
  display: inline-block;
}

.facebook-icon {
  background: url("../assets/img/social-sprite.png") no-repeat -237px -151px;
  width: 17px;
  height: 17px;
  display: inline-block;
}

.twitter-icon {
  background: url("../assets/img/social-sprite.png") no-repeat -192px -106px;
  width: 19px;
  height: 16px;
  display: inline-block;
}

.pinterest-icon {
  background: url("../assets/img/social-sprite.png") no-repeat -138px -14px;
  width: 17px;
  height: 18px;
  display: inline-block;
}

.lock-icon {
  background: url("../assets/img/lock-icon.png") no-repeat;
  width: 15px;
  height: 18px;
  display: inline-block;
  margin: 0.1rem;
}

/* stars */
.four-five-stars {
  background: url("../assets/img/stars-sprite.png") no-repeat -390px -206px;
  width: 95px;
  height: 18px;
  display: inline-block;
}

/* buttons */
.ghost-btn {
  background-color: transparent;
  border: 0.1rem solid var(--gray-text-color);
  padding: 0.7rem 1.2rem;
  font-size: 1.3rem;
}

.round-btn {
  font-size: 1.4rem;
  border-radius: 2rem;
  border: none;
  padding: 0.7rem 1.2rem;
}

.active {
  border: 0.1rem solid var(--orange);
  background-color: rgb(231 118 0 / 10%);
  font-weight: 700;
}

/* General */
.orange {
  color: var(--orange);
}

.white {
  color: #ffffff;
}

.gray {
  color: var(--gray);
}
.dark-red {
  color: var(--dark-red);
}

.orange-title {
  color: var(--title-orange);
}
.orange-background {
  background-color: var(--orange);
}

.yellow-background {
  background-color: var(--yellow);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.small-margin {
  margin: 0.5rem 0;
}

.medium-margin {
  margin: 1rem 0;
}

.large-margin {
  margin: 1.5rem 0;
}

.big-margin {
  margin: 3rem 0;
}

.left-margin {
  margin-left: 5rem;
}

.strong {
  font-weight: 700;
}

/* Headers */
/* .section-title {
  text-align: center;
  font-size: 5.6rem;
  letter-spacing: 0;
  font-weight: 600;
  letter-spacing: -0.2rem;
} */
/* 
.section-secondary-title {
  font-size: 2.8rem;
  font-weight: 400;
} */

/* Links */
/* unvisited link */
/* .main-link:link {
  color: var(--link-color);
  font-size: 2.1rem;
  text-decoration: none;
} */

/* visited link */
/* .main-link:visited {
  color: var(--link-color);
} */

/* mouse over link */
/* .main-link:hover {
  color: var(--link-color);
  text-decoration: underline;
} */

/* selected link */
/* .main-link:active {
  color: var(--link-color);
} */

/* .main-link {
  position: relative;
} */

/* .main-link:after {
  border-right: 0.2rem solid var(--link-color);
  border-bottom: 0.2rem solid var(--link-color);
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: 37%;
} */

/* .main-link:after {
  right: -1.6rem;
  transform: rotate(-45deg);
} */

/*  Navigation */

/* .main-nav {
  background-color: var(--nav-color);
  font-size: 1.2rem;
  height: 44px;
  line-height: 44px;
  z-index: 1;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
} */

/* mouse over link */
/* .main-nav a:hover {
  color: var(--white);
} */

/* .main-nav span {
  display: inline-block;
  padding: 0 0.2rem;
}

.main-nav img {
  overflow: hidden;
  height: auto;
  object-position: bottom;
}

.main-nav img {
  filter: contrast(50%);
}

.main-nav img:hover {
  filter: none;
} */

/*  Keframes */
/* @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
} */
